<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="      android.support.graphics.drawable.animated,      android.support.graphics.drawable,      android.support.v4,      android.support.mediacompat,      android.support.fragment,      android.support.coreui,      android.support.coreutils,      android.support.compat,      android.arch.lifecycle,      android.arch.core,      android.support.v7,      com.dingmouren.layoutmanagergroup,      com.mopub.mobileads.native_video,      com.mopub.mobileads.native_static,      com.mopub.mobileads.base,      com.mopub.mobileads.rewarded_video,      com.mopub.mobileads.banner,      com.mopub.mobileads.interstitial,      com.squareup.leakcanary,      com.squareup.leakcanary.analyzer,      com.squareup.leakcanary.android.noop,      com.bytedance.crash,    com.bytedance.metasec" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PangleLib"
        tools:targetApi="31">
        <activity
            android:name=".OtherScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2547387438729744~9596900917" /> <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>